* {
	margin: 0;
}

body {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	min-width: 700px;

}

.header {
	font-family: 'Merienda',cursive;
	display: flex;
	color: #fff;
	background-color: rgb(0,128,0);
	height: 60px;
	min-width: 100%;
	line-height: 60px;
	text-align: center;
	position: fixed;
	z-index: 2;
}

.header-container{
	padding: 0 10px;
	display: flex;

}

.header-menu{
	display: flex;
	flex: 1 1 0%;
	justify-content: flex-end;
}

nav {
	display: none;
}

#hamnav {
	width: 100%;
	height: 60px;
	background: rgb(0,128,0);
  }
  #hamitems { display: flex; }
  #hamitems a {
	background-color: rgb(83,238,83);
	width: 100%;
	flex-grow: 1;
	flex-basis: 0;
	padding: 10px;
	color: rgb(0,128,0);
	text-decoration: none;
	text-align: center;
	margin-left: 50%;
  }
  #hamitems a:hover {
	color: rgb(144,238,144);  
	background: rgb(0,128,0);
}
  
  #hamnav label, #hamburger { display: none; }

.menu-item {
	color: rgb(144,238,144);
	text-decoration: none;
	padding: 0 30px;
	width: 103px;
}

.menu-item:hover {
	color: rgb(0,128,0);
	background-color: rgb(144,238,144);
}


.h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.fruit {
	height: 50px;
	padding-right: 5px;
	padding-top: 5px;
	vertical-align: middle;
}

.main {
	height: 100vh;
	padding-bottom: 150vh;
}

.logo-container {
  height: 100vh;
  display: block;
  position: relative;
  text-align: center;
}

.logo-container:after {
	content: "";
	background: url(/images/frutas.jpeg);
	background-size:cover;
	background-position: center;
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 

}

.logo {
	height: 50vh;
	padding-right: 5px;
	margin-top: 25vh;
	vertical-align: middle;
	
}

.info-1 {
	
	font-family: 'Roboto', cursive;
	color: #fff;
	text-align: center;
	height: 50vh;
	background-color: rgb(144,238,144);
}

.title {
	font-family: 'Lobster', cursive;
	font-size: larger;
	margin-bottom: 50px;
}	

.info-1-flexbox {
	height: auto;
	display: flex;
}

.info-1-1 {
	width: 25vw;
	margin-left: 25vw;
	text-align: center;
}

.phone {
	height: 10vh;
	filter: invert(100%);
}

.info-1-text {
	margin-top: 20px;
	font-size:x-large;
}

.info-1-2 {
	width: 25vw;
	margin-right: 25vw;
}

.delivery {
	height: 10vh;
	filter: brightness(0) invert(100%);
	
}

.info-2 {
	
	font-family: 'Roboto', cursive;
	text-align: center;
	height: 50vh;
	background-color: #fff;
}

.title-2 {
	font-family: 'Lobster', cursive;
	font-size: larger;
	margin-bottom: 50px;
	color: rgb(144,238,144);
}

.info-2-flexbox {
	height: auto;
	display: flex;
}

.info-2-1 {
	width: 20vw;
	margin-left: 20vw;
	text-align: center;
}

.recipe {
	height: 10vh;
	margin: 10px;
}

.info-2-text {
	color: rgb(144,238,144);
	font-size:x-large;
}

.info-2-2 {
	width: 20vw;
}

.tips {
	height: 10vh;
	margin: 10px;
	
}

.info-2-3 {
	width: 20vw;
	margin-right: 20vw;
}

.banana {
	height: 10vh;
	margin: 10px;
	
}

.form-container {
	height: 50vh;
}

.form {
	display: inline-block;
	padding-top: 5%;
	width: 50vw;
	height: 50vh;
	background: rgba(0, 128, 0, 0.5);
}

.form-text {
	font-family: 'Roboto', cursive;
	color: #fff;
	margin: 12%;
}

input[type=text], select {
    width: 75%;
    padding: 12px 20px;
    display: block;
    margin: 0px auto 10px;  
    box-sizing: border-box;
    border: none;
    outline: none;
    opacity: 0.4;
  }

input[type=submit] {
	font-family: 'Roboto', cursive;
	background-color:rgba(255, 255, 255, 0.4);
	width: 75%;
	color: rgb(0,128,0);
	font-size: medium;
	display: block;
	margin: 40px auto;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}


.footer {
	position: relative;
	display: flex;
	align-items: center;
  	justify-content: center;
	bottom: 0;
	height: 120px;
	background-color: rgb(0,128,0);
	padding: 0 47vw;
}

.footer-img {
	filter: invert(100%);	
	display: block;
	height: 45px;
	width: 45px;
	margin: 0 10px;
}

@media only screen and (max-width: 768px) {
		body {
			min-width: 445px;
		}
		.logo {
			max-height: 25vh;
			margin-top: 37.5vh;
		}

		.main {
			height: 250vh;
		}

		.info-1 {
			height: 100vh;
		}

		.title {
			padding: 10px;
		}

		.info-1-1 {
			margin: 0 auto;
			width: 40vw;
		}

		.info-1-2 {
			margin: 0 auto;
			width: 40vw;
		}

		.info-1-flexbox {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		.info-2 {
			height: 100vh;
		}

		.title-2 {
			padding: 10px;
		}

		.info-2-1 {
			margin: 0 auto;
			width: 40vw;
		}

		.info-2-flexbox {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		.info-2-2 {
			margin: 0 auto;
			width: 40vw;
		}

		.form-container {
			height: 60vh;
			vertical-align: middle;
			padding-top: 40vh;
		}

		.form {
			height: auto;
		}

		.menu-item {
			display: none;
		}

		nav {
			display: block;
		}

		#hamitems a {
			box-sizing: border-box;
			display: block;
			width: 50%;
			border-top: 1px solid #333;
		  }

		  #hamnav label { 
			display: block; 
			color: #fff;
			background: rgb(0,128,0);
			font-style: normal;
			font-size: 2em;
			text-align: right;
			padding-right: 20px;
		  }
	
		  #hamitems { display: none; }
		  #hamnav input:checked ~ #hamitems { display: block; }
		}

}