* {
	margin: 0;
}

body {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	min-width: 700px;

}

.header {
	font-family: 'Merienda',cursive;
	color: white;
	background-color: green;
	height: 60px;
	/* min-width: 100vw; */
	min-width: 100%;
	line-height: 60px;
	text-align: center;
	position: fixed;
	z-index: 2;
}

.header-container{
	padding: 0 10px;
	display: flex;

}

.h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.fruit {
	height: 50px;
	padding-right: 5px;
	padding-top: 5px;
	vertical-align: middle;
}

.main {
	height: 100vh;
	padding-bottom: 150vh;
}

.logo-container {
  height: 100vh;
  display: block;
  position: relative;
  text-align: center;
}

.logo-container:after {
	content: "";
	background: url(/images/frutas.jpeg);
	background-size:cover;
	background-position: center;
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 

}

.logo {
	height: 50vh;
	padding-right: 5px;
	margin-top: 25vh;
	vertical-align: middle;
	
}

.info-1 {
	
	font-family: 'Roboto', cursive;
	color: white;
	text-align: center;
	height: 50vh;
	background-color: lightgreen;
}

.title {
	font-family: 'Lobster', cursive;
	font-size: larger;
	margin-bottom: 50px;
}	

.info-1-flexbox {
	height: auto;
	display: flex;
}

.info-1-1 {
	width: 25vw;
	margin-left: 25vw;
	text-align: center;
}

.phone {
	height: 10vh;
	filter: invert(100%);
}

.info-1-text {
	margin-top: 20px;
	font-size:x-large;
}

.info-1-2 {
	width: 25vw;
	margin-right: 25vw;
}

.delivery {
	height: 10vh;
	filter: brightness(0) invert(100%);
	
}

.info-2 {
	
	font-family: 'Roboto', cursive;
	text-align: center;
	height: 50vh;
	background-color: white;
}

.title-2 {
	font-family: 'Lobster', cursive;
	font-size: larger;
	margin-bottom: 50px;
	color: lightgreen;
}

.info-2-flexbox {
	height: auto;
	display: flex;
}

.info-2-1 {
	width: 20vw;
	margin-left: 20vw;
	text-align: center;
}

.recipe {
	height: 10vh;
	margin: 10px;
}

.info-2-text {
	color: lightgreen;
	font-size:x-large;
}

.info-2-2 {
	width: 20vw;
}

.tips {
	height: 10vh;
	margin: 10px;
	
}

.info-2-3 {
	width: 20vw;
	margin-right: 20vw;
}

.banana {
	height: 10vh;
	margin: 10px;
	
}

.form-container {
	height: 50vh;
}

.form {
	display: inline-block;
	padding-top: 5%;
	width: 50vw;
	height: 50vh;
	background: rgba(0, 128, 0, 0.5);
}

.form-text {
	font-family: 'Roboto', cursive;
	color: white;
	margin: 12%;
}

input[type=text], select {
    width: 75%;
    padding: 12px 20px;
    display: block;
    margin: 0px auto 10px;  
    box-sizing: border-box;
    border: none;
    outline: none;
    opacity: 0.4;
  }

input[type=submit] {
	font-family: 'Roboto', cursive;
	background-color:rgba(255, 255, 255, 0.4);
	width: 75%;
	color: green;
	font-size: medium;
	display: block;
	margin: 40px auto;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}


.footer {
	position: relative;
	bottom: 0;
	height: 120px;
	text-align: left;
	background-color: green;
}

.link {
	display: inline;
	vertical-align: middle;
	line-height: normal;
}
